.menu-nav {
    padding: 10px;
  }
  
  .menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .menu-li {
    display: inline;
  }
  
  .menu-a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .menu-a:hover {
    background-color: #555;
  }
  